*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #1e90ff;
    --secondary-color: #f2f2f2;
    --background-color: #212121;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: var(--background-color);
    color: var(--secondary-color);
    font-family: var(--font-family);
}

header, footer{
    padding: 1rem;
}

a{
    color: var(--primary-color);
}

#map {
    height: 75vh;
}